[color]
	ui = auto
[alias]
	cp = cherry-pick
	hist = log --oneline --graph --decorate --all
	yesterday = log --since '1 day ago' --oneline --author nicolas.ritouet@zanox.com
	ac = !git add -A && git commit -m
	co = checkout
	last = log --name-status HEAD^..HEAD
[user]
	name = Nicolas Ritouet
	email = nicolas.ritouet@zanox.com
[core]
	excludesfile = /Users/nicolas.ritouet/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
